SeinSport/Service References/Sport/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfLiblary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISportService_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="ISportService_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_SetDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDatas" />
  </wsdl:message>
  <wsdl:message name="ISportService_SetDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDatasResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_StartTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTimer" />
  </wsdl:message>
  <wsdl:message name="ISportService_StartTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTimerResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_StopTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTimer" />
  </wsdl:message>
  <wsdl:message name="ISportService_StopTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTimerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISportService">
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/SetData" message="tns:ISportService_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/SetDataResponse" message="tns:ISportService_SetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/SetDatas" message="tns:ISportService_SetDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/SetDatasResponse" message="tns:ISportService_SetDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTimer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/StartTimer" message="tns:ISportService_StartTimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/StartTimerResponse" message="tns:ISportService_StartTimer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTimer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/StopTimer" message="tns:ISportService_StopTimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/StopTimerResponse" message="tns:ISportService_StopTimer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISportService" type="tns:ISportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://tempuri.org/ISportService/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDatas">
      <soap:operation soapAction="http://tempuri.org/ISportService/SetDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTimer">
      <soap:operation soapAction="http://tempuri.org/ISportService/StartTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTimer">
      <soap:operation soapAction="http://tempuri.org/ISportService/StopTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportService">
    <wsdl:port name="BasicHttpBinding_ISportService" binding="tns:BasicHttpBinding_ISportService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfLiblary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>