SeinSport/Service References/Sport/WcfLiblary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfLiblary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfLiblary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assotiation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Club" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentTry" type="xs:double" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Sity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trainers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="j1" type="xs:double" />
      <xs:element minOccurs="0" name="j2" type="xs:double" />
      <xs:element minOccurs="0" name="j3" type="xs:double" />
      <xs:element minOccurs="0" name="p1" type="xs:double" />
      <xs:element minOccurs="0" name="p2" type="xs:double" />
      <xs:element minOccurs="0" name="p3" type="xs:double" />
      <xs:element minOccurs="0" name="t1" type="xs:double" />
      <xs:element minOccurs="0" name="t2" type="xs:double" />
      <xs:element minOccurs="0" name="t3" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="ArrayOfData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data" nillable="true" type="tns:Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfData" nillable="true" type="tns:ArrayOfData" />
</xs:schema>